

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">



<div class="card" style="width: 18rem;">
  <img src="https://www.monchat.ca/wp-content/uploads/2020/01/Fond-ecran-Mignon-petit-chaton-brun-et-creme.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Magnifique photo de bello , un chaton plein d energie .</p>
  </div>
</div>