<% @items.each do |item| %>
    <p><%= item.name %></p>
    <%= image_tag(item.picture) if item.picture.attached?  %>
    <%= link_to "Ajouter au Panier", orders_path, method: :post%>
    <%= link_to "Commander" %>
<% end %>