<% @items.each do |item| %>
    <p><%= item.name %></p>
    <%= image_tag(item.picture) if item.picture.attached?  %>
    <%= link_to "Ajouter au Panier", item_orders_path(item.id), method: :post, remote: true %>
    <%= link_to "Commander" %>
<% end %>