.cart-body {
<<<<<<< HEAD
=======
    animation : openCart 1s ease-in-out;
>>>>>>> cats-shop
    position : fixed;
    top : 70px;
    right : 30px;
    width : 200px;
    height : 400px;
<<<<<<< HEAD
    background-color : red;
=======
    border-radius : 5px;
    background-color : whitesmoke;
>>>>>>> cats-shop
}

.cart-title {
    padding : 10px;
}

.cart-elements {
<<<<<<< HEAD
    overflow-y : auto;
    scrollbar-color:  red blue;
}

.fermer {
    animation: fermer 1s ease-in-out;
    height : 0px;
    overflow-y: hidden;
}

.ouvrir {
    animation: ouvrir 1s ease-in-out;
    height : 270px;
    overflow-y: hidden;
}

@keyframes ourvrir {
    0% { height : 0px; }
    100% { height : 270px; }
}

@keyframes fermer {
    0% { height : 270px; }
    100% { height : 0px; }
}

.unfade {
    animation : 1s unfade ease-in-out;
}

@keyframes unfade {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
=======
    overflow-y : scroll;
    scrollbar-color:  lightgray whitesmoke;
}

@keyframes openCart {
    0% { right : 1020px; top : -170px; transform: scale(0.1); opacity : 10%; }
    100% { right : 30px; top : 70px; transform: scale(1); opacity : 100%; }
>>>>>>> cats-shop
}