.login {
    align-content : center;
    width : 250px;
    height : 450px;
    background-color : whitesmoke;
}

.login-outer {
    text-align: center;
    width : 350px;
    display : flex;
    justify-content : center;
    background-color : whitesmoke;
}

.login-body {
    margin-top : calc(10vh + 5px);
    width : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    align-content : center;
    width : 200px;
    height : 450px;
    background-color : whitesmoke;
}