.login {
    align-content : center;
    width : 250px;
    height : fit-content;
    background-color : whitesmoke;
}

.login-outer {
    text-align: center;
    width : 30vw;
    padding-bottom : 20px;
    display : flex;
    justify-content : center;
    background-color : whitesmoke;
}

.login-body {
    margin-top : calc(20vh + 5px);
    width : 100%;
    display : flex;
    justify-content: center;
    align-items: center;    
}

.sign-up {
    align-content : center;
    width : 250px;
    height : 570px;
    background-color : whitesmoke;
}

.contact {
    align-content : center;
    width : 250px;
    height : 570px;
    background-color : whitesmoke;
}

.parent {
   height: 80vh;
   display: flex;
   align-items: center;
}