<div class="cart-body">
    <div class="cart-title">
        <h4>Panier</h4>
    </div>
    <div class="cart-elements">
        <% session[:cart].all do |item| %>
            <p><%= item.name %></p>
        <% end %>
    </div>
</div>