<div class="cart-body">
    <div class="cart-title">
        <h4>Panier</h4>
    </div>
    <div class="cart-elements">
        <% @cart.each do |item| %>
            <p><%= Item.find(item.item_id).name %></p>
        <% end %>
    </div>
</div>