
    <div class="banner">
      <div class="navbar">
      <img src="/home/mlffe/Desktop/chaton/Chatons-project/app/assets/images/logo.png"  width="200" height="200"> 
          <ul>
            <li><a href="#">Pictures</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">User</a></li>
        <ul>
      </div>
    </div>


